h1 {
    text-decoration: none;
    /* color: thistle; */
    font-weight: 400;
    font-size: 32px;
}

#v2 {
    font-size: 12px;
    color: #888;
}

#v3 {
    font-size: 12px;
    color: #551A8B;
}

p {
    font-size: 16px;
    font-family: '微软雅黑';
    text-indent: 2em;
}

div+div {
    border-top: 3px solid #ccc;
}