* {
    margin: 0;
    padding: 0;

}

.box1 {
    width: 200px;
    height: 200px;
    background-color: pink;
    transition: all 1s ease 0.3s;
    transform-origin: 200 200;
}

.box1:hover {
    transform: rotate(720deg) translate(100px, 100px);
}

.box1:hover+.box2 {
    /*兄弟选择器，当鼠标悬停在box1时，box2发生变化*/
    border-radius: 100px;
    transform: translate(100px, -100px) rotate(720deg);

}

.box2 {
    width: 200px;
    height: 200px;
    background-color: aqua;
    transition: all 1s ease 0.3s;
}

.box3 {
    position: relative;
    top: -390px;
    width: 300px;
    height: 34px;
    border: 3px solid black;
    margin: 0 auto;
}

.box3::after {
    content: "";
    position: absolute;
    top: 0;
    right: 12px;
    width: 20px;
    height: 20px;
    border-right: 3px solid rgb(219, 80, 131);
    border-bottom: 3px solid rgb(219, 80, 131);
    transform: rotate(45deg);
    transition: all 0.3s;
}

.box3:hover::after {
    transform: translateY(7px) rotate(225deg);
}

/* 小案例制作 */
.box4 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

.box4::before {
    content: "vagmr";
    display: block;
    width: 100%;
    height: 100%;
    background-color: violet;
    transform-origin: left bottom;
    transform: rotate(90deg);
    transition: all 0.5s;
}

.box4:hover::before {
    transform: rotate(0deg);
}

.box5 {
    position: relative;
    top: -439px;
    left: 210px;
    width: 200px;
    height: 200px;
    background-color: rgb(216, 216, 75);
    transition: all 0.5s;
}

.box6 {
    position: relative;
    top: -439px;
    left: 210px;
    width: 200px;
    height: 200px;
    background-color: rgb(211, 46, 161);
}

.box5:hover {
    transform: scale(0.5) translateY(400px);
    z-index: 1;
}

.img img {
    width: 200px;
    height: 200px;
    transition: all 1s;
    margin-bottom: 100px;
}

.i1:hover {
    transform: scale(1.5);
}

.footer {
    position: relative;
    bottom: 30px;
    left: 0;
    height: 150px;
    background-color: pink;
    overflow: hidden;
    text-align: center;
}

.footer ul {
    position: absolute;
    float: left;
    margin: 30px 0;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: aqua; */
    padding-top: 30px;
}

.footer ul li {
    list-style: none;
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid red;
    border-radius: 50%;
    line-height: 50px;
    margin-left: 30px;
    transition: all 0.4s;
}

li:hover {
    transform: scale(1.5);

}

/* 风车制作 */
.windmill {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 100px;
    height: 100px;
    background-color: pink;
}

.dh {
    animation: cycle 3s linear infinite;

}

.red {
    width: 0px;
    height: 0px;
    border: 50px solid transparent;
    border-bottom-color: red;
    transform: rotate(-51deg);
}

.green {
    width: 0px;
    height: 0px;
    border: 50px solid transparent;
    border-left-color: green;
    transform: translateY(-100px) rotate(33deg);
}

.yellow {
    width: 0px;
    height: 0px;
    border: 50px solid transparent;
    border-top-color: yellow;
    transform: translateY(-200px) rotate(92deg);
}

.acqu {
    width: 0px;
    height: 0px;
    border: 50px solid transparent;
    border-right-color: aqua;
    transform: translateY(-300px) rotate(150deg);
}

.center {
    width: 20px;
    height: 20px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes cycle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* 风车制作 */