body {
    background-image: url(../res/2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    image-rendering: optimizeQuality;
    /* background: rgba(0, 0, 0, 0.3); */
    /* background-attachment: scroll; */
}

h4 {
    color: white;
}

input {
    color: rgb(0, 229, 255);
}

#v1 input {
    color: rebeccapurple;
}