* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.w {
    width: 1200px;
    margin: auto;
}

.header {
    /* 头部像素 */
    height: 42px;
    color: #f3f5f7;
    margin: 30px auto;
    background-color: #f3f5f7;
}

.img {
    float: left;
    width: 198px;
    height: 42px;
    background-image: url(../res/logo4.png);
}

.index {
    float: left;
    margin-left: 60px;

}

.index ul li {
    float: left;
    margin: 0 15px;
}

.index ul li a {
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    padding: 0px 10px;
}

.index ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.sch {
    float: left;
    margin-left: 70px;
}

.but {
    float: left;
    width: 300px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.input {
    height: 42px;
    width: 52px;
    background-image: url(../res/btn.png);
}

.last {
    float: left;
    margin-left: 30px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
}

.banner {
    height: 420px;
    background: url(../res/banner.png) no-repeat center;
    background-color: #1c036c;
}

.inw {
    float: left;
    width: 190px;
    height: 420px;
    background-color: #14034b;
}

.inw li {
    position: relative;
    padding-left: 20px;
    margin: 5px 0;

}

.inw span {
    position: absolute;
    /* 子元素绝对定位 */
    top: 0;
    right: 0;
    width: 30px;
    /* 设置 ">" 符号的宽度 */
    text-align: center;
}

.inw ul li a {
    display: inline-block;
    height: 42px;
    font-size: 14px;
    color: white;
    line-height: 42px;
}

.inw a:hover {
    color: #00a4ff;
}

.right1 {
    float: right;
    height: 300px;
    width: 230px;
    background-color: #ffffff;
    margin-top: 64px;
}

.right1 h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}

.right2 {
    padding: 0px 20px;
}

.right1:hover {
    box-shadow: 0 10px 50px rgb(99, 33, 33);
}

.right2 li {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}

.right2 li h4 {
    /* margin-top: 10px; */
    font-size: 16px;
    font-weight: 700;

}

.right2 li p {
    font-size: 12px;
    color: #A5A5A5;
}

.right2 a {
    display: block;
    width: 180px;
    height: 38px;
    border: 1px solid #22b0ff;
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}

.right2 a:hover {
    color: hotpink;
}

/* ---------------------------------------------------------------- */
.jptj {
    background-color: #fff;
    margin-top: 10px;
    height: 60px;
    line-height: 60px;
    box-shadow: 1px 0px 3px 3px rgba(0, 0, 0, .2);
}

.jptj ul {
    float: left;
    margin-left: 30px;
}

.jptj ul li {
    float: left;
}


.jptj ul li a {
    padding: 0px 35px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

#s1 {
    float: left;
    color: #00a4ff;
    margin-left: 35px;
    font-size: 16px;
}

#s2 {
    float: right;
    color: #00a4ff;
    margin-right: 30px;
    font-size: 14px;
}

/* 课程盒子部分 */
.maindiv {
    margin-top: 35px;

}

/* 上半部分 */
.up {
    height: 40px;
    border-bottom: 1px solid black;
}

#l1 {
    float: left;
    font-size: 20px;
    color: #494949;
}

#l2 {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
}

/* 下半部分 */
.bottom div {
    position: relative;
    float: left;
    height: 270px;
    width: 230px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 1px 0px 3px 3px rgba(0, 0, 0, .2);
    margin-right: 10px;
    margin-bottom: 15px;
}

.n img {
    position: absolute;
    right: -5px;
    top: 5px;
}

.bottom div>img {
    width: 100%;
}

.bottom div h4 {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 24px;
    color: #050505;
}

.bottom div p {
    margin-top: 20px;
    margin-bottom: 27px;
}

.bottom div p span {
    font-size: 12px;
    color: #ff7c2d;
}

.bottom div p a {
    font-size: 12px;
    color: #999999;
}

.bottom div:hover {
    background-color: palevioletred;
    color: white;
}

/* ----------------end---------------- */
/* footer区域 */
.footer {
    /* background-color: pink; */
    height: 417px;
}

.footer .inf {
    background-color: white;
}

.fl {
    padding-top: 125px;
    float: left;
    height: 180px;
    width: 500px;
}

.fl p {
    margin-top: 25px;
    font: size 12px;
    margin-bottom: 30px;
}

.fl a {

    font-size: 16px;
    color: #00a4ff;
    border: 2px solid #00a4ff;
    padding: 15px 30px;
    font-weight: 700;
}

.fr {
    float: right;
    height: 200px;
    width: 580px;
    background-color: #fff;
    margin-top: 125px;
}

.fr dl {
    float: left;
    margin-right: 90px;
}

.fr dl dt {
    font-size: 20px;
}

.fr dl dd {
    text-align: center;
    line-height: 30px;
    height: 30px
}

/* 下面是额外部分 */
#f1 {
    float: left;
    color: #d20e18;
    font-weight: 700;
}

.up ul {
    float: left;
    margin-left: 350px;
}

.up ul .first {
    color: #00a4ff;
}

.up ul li {
    float: left;
    margin-left: 70px;
}

.up h6 {
    float: right;
    color: #a5a5a5;
    font-size: 12px;
}

/* 下半部分 */
.fmain {
    height: 392px;
    width: 1209px;
    /* background-color: pink; */
}

.bl {

    float: left;
    margin-right: 15px;
}

.br {
    float: left;
    width: 957px;
    height: 392px;
}

.br img {
    /* float: right; */
    width: 100%;
    /* margin-bottom: 10px; */
}

.br div {
    float: left;
    margin-top: 10px;
    width: 228px;
    height: 270px;
    text-align: center;
    box-shadow: 1px 0px 3px 3px rgba(0, 0, 0, .2);
    margin-right: 10px;
}

.br div img {
    width: 100%;
}

.br div h4 {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 24px;
    color: #050505;
}

.br div p {
    margin-top: 20px;
    margin-bottom: 27px;
}

.br div p span {
    font-size: 12px;
    color: #ff7c2d;
}

.br div p a {
    font-size: 12px;
    color: #999999;
}

.br div:hover {
    background-color: blueviolet;
    color: white;
}

.brp {
    width: 1200px;
    height: 300px;
    margin-bottom: 0px;
    /* margin-top: 20px; */
}