.one {
    background-color: pink;
    height: 500px;
    width: 580px;
    position: relative;
    margin: 40px auto;
}

.one img {
    width: 100%;
    height: 100%;
}

.one::before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -290px;
    top: 0px;
    background: rgba(0, 0, 0, .2) url(../res/arr.png) no-repeat center;
    width: 100%;
    height: 100%;
    display: none;
}



.one:hover::before {
    display: block;
}