<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>new</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <script defer="defer" src="/js/chunk-vendors.dd230f41.js"></script>
    <script defer="defer" src="/js/app.412a3733.js"></script>
    <link href="/css/chunk-vendors.1cd1a1d9.css" rel="stylesheet">
    <link href="/css/app.c46bf000.css" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but new doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id="app">
        <div data-v-87010c2a="" class="center">
            <div data-v-87010c2a="" class="contacts"><i data-v-87010c2a="" class="fas fa-bars fa-2x"></i>
                <h2 data-v-87010c2a=""> Contacts </h2>
                <div data-v-87010c2a="" class="contact">
                    <div data-v-87010c2a="" class="pic rogers"></div>
                    <div data-v-87010c2a="" class="badge"> 14 </div>
                    <div data-v-87010c2a="" class="name"> Steve Rogers </div>
                    <div data-v-87010c2a="" class="message"> That is America's ass 🇺🇸🍑 </div>
                </div>
                <div data-v-87010c2a="" class="contact">
                    <div data-v-87010c2a="" class="pic stark"></div>
                    <div data-v-87010c2a="" class="name"> Tony Stark </div>
                    <div data-v-87010c2a="" class="message"> Uh, he's from space, he came here to steal a necklace from
                        a wizard. </div>
                </div>
                <div data-v-87010c2a="" class="contact">
                    <div data-v-87010c2a="" class="pic banner"></div>
                    <div data-v-87010c2a="" class="badge"> 1 </div>
                    <div data-v-87010c2a="" class="name"> Bruce Banner </div>
                    <div data-v-87010c2a="" class="message"> There's an Ant-Man *and*
                        a Spider-Man? </div>
                </div>
                <div data-v-87010c2a="" class="contact">
                    <div data-v-87010c2a="" class="pic thor"></div>
                    <div data-v-87010c2a="" class="name"> Thor Odinson </div>
                    <div data-v-87010c2a="" class="badge"> 3 </div>
                    <div data-v-87010c2a="" class="message"> I like this one </div>
                </div>
                <div data-v-87010c2a="" class="contact">
                    <div data-v-87010c2a="" class="pic danvers"></div>
                    <div data-v-87010c2a="" class="badge"> 2 </div>
                    <div data-v-87010c2a="" class="name"> Carol Danvers </div>
                    <div data-v-87010c2a="" class="message"> Hey Peter Parker, you got something for me? </div>
                </div>
            </div>
            <div data-v-87010c2a="" class="chat">
                <div data-v-87010c2a="" class="contact bar">
                    <div data-v-87010c2a="" class="pic stark"></div>
                    <div data-v-87010c2a="" class="name"> ChatGpt4.0-plus </div>
                    <div data-v-87010c2a="" class="seen"> Today at 12:56 </div>
                </div>
                <div data-v-87010c2a="" class="van-pull-refresh" style="min-height: calc((100vh - 6rem) - 40px);">
                    <div class="van-pull-refresh__track" style="transition-duration: 0ms;">
                        <div class="van-pull-refresh__head"></div>
                        <div data-v-87010c2a="" id="chat" class="messagesa">
                            <div data-v-87010c2a="" class="time"> I'm always here! </div>
                            <div data-v-87010c2a="" class="message stark">
                                <pre data-v-87010c2a=""
                                    class="preTex">小技巧:<br data-v-87010c2a="">①点击对话框即可复制。<br data-v-87010c2a="">②支持上下文,刷新或重新进入上下文会断<br data-v-87010c2a="">③暂不支持删聊天记录</pre>
                            </div>
                            <div data-v-87010c2a="" class="message stark" style="display: none;">
                                <div data-v-87010c2a="" style="display: none;">
                                    <div data-v-87010c2a="" class="typing typing-1"></div>
                                    <div data-v-87010c2a="" class="typing typing-2"></div>
                                    <div data-v-87010c2a="" class="typing typing-3"></div>
                                </div>
                                <pre data-v-87010c2a="" class="preTex"></pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-87010c2a="" class="input">
                    <div data-v-87010c2a="" class="van-field van-cell van-field">
                        <div class="van-cell__value van-cell__value--alone van-field__value">
                            <div class="van-field__body"><textarea rows="1" placeholder="Type your message hear!"
                                    class="van-field__control" style="height: 24px;"></textarea></div>
                        </div>
                    </div><span data-v-87010c2a="" class="iconfont icon-fasong"></span>
                </div>
            </div>
        </div>
        <div data-v-0e968492="" class="lbot" style="display: none;">
            <ul data-v-0e968492="">
                <li data-v-0e968492="" class="actived"><i data-v-0e968492=""
                        class="iconfont icon-dibudaohanglan-"></i><span data-v-0e968492="">消息</span></li>
                <li data-v-0e968492="" class=""><i data-v-0e968492="" class="iconfont icon-wode"></i><span
                        data-v-0e968492="">我的</span></li>
            </ul>
        </div>
    </div>
</body>

</html>