header {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 44px;
    min-width: 320px;
    max-width: 540px;
    /* background-color: palegreen; */
    background-color: #F6F6F6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.search {
    position: relative;
    height: 26px;
    border: 1px solid palevioletred;
    margin: 8px 9px;
    flex: 1;
    border-radius: 5px;
    color: rgb(142, 144, 145);
    box-shadow: 0 3px 2px 3px;
}

.search::before {
    content: "";
    display: block;
    height: 15px;
    width: 15px;
    background: url(../image/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
    position: absolute;
    left: 0;
    top: 5px;
    z-index: 2;
}

.uers {
    height: 44px;
    width: 44px;
    text-align: center;
    font-size: 12px;
    color: rgb(42, 118, 210);
}

.uers::before {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;

    /* x,y */
    background: url(../image/sprite.png) no-repeat -59px -194px;
    /* 精灵图缩放，一半大小 */
    background-size: 104px auto;
    margin: 4px auto;
    margin-bottom: -2px;
}

.focus {
    padding-top: 44px;
    position: relative;

}

.focus ul {
    width: 500%;
    margin-left: -100%;
}

.focus ul li {
    float: left;
    width: 20%;
}

.focus ul li img {
    width: 100%;
}

.focus ul ol {
    position: absolute;
    right: 10px;
    bottom: -62px;
}

.focus ol li {
    display: inline-block;
    width: 15px;
    height: 5px;
    border-radius: 5px;
    background-color: aqua;
    margin-left: 5px;
}

.focus ol .current {
    width: 35px;
}